@model CRUD.Models.Emp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpHDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpHDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept.DeptName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
